@model financeApp.Models.Egreso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Egreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montoegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montoegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcionegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcionegreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idegreso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
