@model kitchenApp.Models.Orden

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenidoorden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenidoorden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estadoorden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estadoorden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmesaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmesaNavigation.Idmesa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idorden">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
