@model IEnumerable<kitchenApp.Models.Orden>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contenidoorden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadopedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmesaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contenidoorden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadopedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmesaNavigation.Idmesa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idorden">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idorden">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idorden">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
