@model crudBodega.Models.Bebidum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bebidum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombrebebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombrebebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorbebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorbebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidadbebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidadbebida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idbebida">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
