@model IEnumerable<crudBodega.Models.Bebidum>

@{
    ViewData["Title"] = "Principal";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombrebebida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valorbebida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidadbebida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombrebebida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valorbebida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidadbebida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idbebida">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idbebida">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idbebida">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
