@model IEnumerable<kitchenApp.Models.Recetum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdingredienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdingredienteNavigation.Idingrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproductoNavigation.Idproducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idreceta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idreceta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idreceta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
