@model IEnumerable<Plato>

@{
        ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<div class="row">
        @foreach (var item in Model)
        {
                <div class="col-4">
                        
                        <h4>@item.Nombreplato</h4>
                        <div>
                                @Html.Raw(item.DescripcionPlato)
                        </div>
                        <p>
                                @item.Valorplato.ToString("C2")
                        </p>
                        <p>
                                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Idplato">Agregar al carro</a>
                        </p>
                </div>
        }


        @if (ViewBag.TotalPages > 1)
        {
                <div class="d-flex w-100 justify-content-center">
                        <pagination page-count="@ViewBag.TotalPages"
                            page-target="/products/@ViewBag.CategorySlug"
                            page-number="@ViewBag.PageNumber"
                            page-range="@ViewBag.PageRange">
                        </pagination>
                </div>
        }

</div>
