@model financeApp.Models.Ingreso

@{
    ViewData["Title"] = "Detallado";
}

<h1>Details</h1>

<div>
    <h4>Ingreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montoingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montoingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcioningreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcioningreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idingreso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
