@model IEnumerable<financeApp.Models.Ingreso>

@{
    ViewData["Title"] = "Principal";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Montoingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcioningreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Montoingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcioningreso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idingreso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idingreso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idingreso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
