@model IEnumerable<kitchenApp.Models.Plato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombreplato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valorplato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionPlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdrecetaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreplato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valorplato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionPlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdrecetaNavigation.Idreceta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idplato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idplato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idplato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
